= link_to "Читать с начала", workday_path(@start_date), class: "fright btn"

%h1= l @workday.skype_date , :format => :long
%table.table.home_index_table
  - @workday.messages.each do |message|
    %tr
      %td.name
        %span
          = message.member.name
          \: &nbsp;
      %td
        %pre
          = show_with_type(message.body, message.body_type)
      %td
        = link_to "#", class: "like-message", data: {title: 10, placement: :right, message: message.id} do
          %i.icon-heart
      %td
- if prev = @workday.prev_date
  = link_to "Предыдущий день", workday_path(prev), class: "fleft btn"
.clear