%h1= l @workday.skype_date , :format => :long
%table.table.home_index_table
  - @workday.messages.each do |message|
    %tr
      %td.name
        %span
          = message.member.name
          \: &nbsp;
      %td
        %pre
          = show_with_type(message.body, message.body_type)
      %td
- if prev_date = @workday.prev_date
  = link_to "Предыдущий день", workday_path(prev_date), class: "fleft btn"

- if next_date = @workday.next_date
  = link_to "Следуюий день", workday_path(next_date), class: "fright btn"
.clear