= link_to "Skypeteam", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      Logged in as #{current_user.name}
    %li
      = link_to 'Logout', user_logout_path, :method => :delete
  - else
    %li
      = link_to 'facebook', "/auth/facebook"
    %li
      = link_to 'Vk', "/auth/vkontakte"
    %li
      = link_to 'mailru', "/auth/mailru"
    %li
      = link_to 'google', "/auth/google"
