#encoding: utf-8
= link_to root_path, :class => 'brand' do
  IT
  %span{:style => "color:red;text-decoration:line-through;"}
    f
  gun
%ul.nav{:style => "width:75%"}
  - if user_signed_in?
    %li
      %p.navbar-text
        = current_user.name
    %li
      = link_to 'Уйду я от вас', user_logout_path, :method => :delete
  - else
    %li
      %p.navbar-text
        Войди в меня:
    %li
      = link_to "/auth/facebook", :style => "padding:10px 5px 10px;" do
        = image_tag "fb_icon.png"
    %li
      = link_to "/auth/vkontakte", :style => "padding:10px 5px 10px;" do
        = image_tag "ico_vk.png"
    %li
      = link_to "/auth/mailru", :style => "padding:10px 5px 10px;" do
        = image_tag "mailru.png"
    %li
      = link_to "/auth/google", :style => "padding:10px 5px 10px;" do
        = image_tag "google.png"
    %li{:style => "float:right;color:red"}
      %p.navbar-text
        %strong
          Контент 18+
