= link_to root_path, :class => 'brand' do
  IT
  %span{:style => "color:red;text-decoration:line-through;"}
    f
  gun
%ul.nav
  - if user_signed_in?
    %li
      %p.navbar-text
        = current_user.name
    %li
      = link_to 'Уйду я от вас', user_logout_path, :method => :delete
  - else
    %li
      %p.navbar-text
        Войди в меня:
    %li
      = link_to "/auth/facebook", :style => "padding:10px 5px 10px;" do
        = image_tag "http://www.dkauto.sk/image/fb_icon.png"
    %li
      = link_to "/auth/vkontakte", :style => "padding:10px 5px 10px;" do
        = image_tag "http://www.topnews.ru/images/ico_vk.png"
    %li
      = link_to "/auth/mailru", :style => "padding:10px 5px 10px;" do
        = image_tag "http://virtamir.ru/img/logo/mailru?c="
    %li
      = link_to "/auth/google", :style => "padding:10px 5px 10px;" do
        = image_tag "http://www.books.ru/static/images/buttons/social/google.png"
