.popup-dialog_contact.modal.hide.fade
  .modal-header
    %h3 Напиши нам
  = form_tag '/home/write_to_us', :remote => true do |f|
    .modal-body
      %p
        = text_field_tag 'email',nil, :class => :contact_us_email, :type => :email, :placeholder => 'Можете не вводить Ваш email'
      %p
        = text_area_tag 'text',nil, class: 'contact_us_text required', :placeholder => 'Ваше сообщение', :style => 'width: 515px;height: 120px;', :required => true, :maxlength => 500
    .modal-footer
      = button_tag 'Отправить',:class => 'btn btn-large btn-success send_contact_us'
      = button_tag 'Закрыть',:class => 'btn btn-inverse btn-large', 'data-dismiss' =>'modal'
