!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "ITgun"
      %meta{:content => content_for?(:description) ? yield(:description) : "Skypeteam", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        /[if lt IE 9]
          = javascript_include_tag "plugins/html5"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        %div{:style => "width:1200px"}
          .content{:style => "float:left"}
            .row
              .span10
                = render 'layouts/messages'
                = yield
            %footer
          .span3.sidebar{:style => "float:left;"}
            %ul.nav.nav-list
              %h4
                Хренология:
              - sidebar.each do |year_k,year_v|
                %li.nav-header.year
                  = year_k
                  %ul.nav.nav-list
                    - year_v.each do |k,v|
                      %li.nav-header.month{:class => "#{(@workday.skype_date.year == year_k) ? "show": "hide"}"}
                        =k
                        %ul.nav.nav-list
                          - v.each do |day|
                            %li.nav-header.date{:class => "#{(@workday.skype_date.strftime("%B") == k and @workday.skype_date.year == year_k) ? "show": "hide"}"}
                              = link_to day, workday_path(day)
          .clear
      - if content_for?(:comments)
        .container{:style => "padding-top: 10px"}
          %div{:style => "width:1200px"}
            .content{:style => "float:left"}
              .row
                .span10
                  = yield(:comments)


      / ! end of .container
    / ! end of #main
